<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-title>Tâches</ion-title>
      <ion-button *ngIf="!isCreating && !isEditing" (click)="reloadTasks()"><ion-icon name="refresh"></ion-icon></ion-button>
      <ion-button *ngIf="isCreating || isEditing" class="btn-normal" (click)="reset()">Retour</ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button *ngIf="isAdmin && !isCreating && !isEditing" (click)="isCreating = true" class="center-button">
    Créer une tâche
  </ion-button>
  <ion-content *ngIf="isCreating && !isEditing">
    <div>
      <ion-item>
        <ion-input  [(ngModel)]="name" type="text" placeholder="Nom" ngModel required></ion-input>
      </ion-item>
      <ion-item>
          <ion-input [(ngModel)]="description" type="text" placeholder="Description" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-select placeholder="Sélectionne une catégorie" [(ngModel)]="selectedCat">
          <ion-select-option *ngFor="let cat of Categories">{{cat.Name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <div class='center-button'>
          <ion-button (click)="selectDates()">Définir les dates</ion-button>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>Concerne</ion-label>
        <ion-select multiple="true" cancelText="Annuler" okText="Valider" [(ngModel)]="selectedUsers">
          <ion-select-option *ngFor="let user of Concerning">{{user.Email}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <div class='center-button'>
          <ion-button (click)="createTask()">Créer</ion-button>
       </div>
      </ion-item>
    </div>
  </ion-content>
  <ion-content *ngIf="!isCreating && !isEditing">
    <ion-list *ngFor="let task of this.TaskList">
      <ion-item>
        <ion-label>
          <h2>{{task.Name}}</h2>
          <p>{{task.Description}}</p>
        </ion-label>
        <ion-button (click)="editTask(task)"><ion-icon name="create"></ion-icon></ion-button>
        <ion-button class="btn-danger" *ngIf="isAdmin" (click)="deleteTask(task._id)">X</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
<ion-content *ngIf="isEditing && !isAddingSomeone">
  <div>
    <ion-item>
      <ion-input  [(ngModel)]="name" type="text" placeholder="Nom" ngModel required></ion-input>
    </ion-item>
    <ion-item>
        <ion-input [(ngModel)]="description" type="text" placeholder="Description" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <div class='center-button'>
        <ion-button (click)="selectDates()">Redéfinir les dates</ion-button>
      </div>
    </ion-item>
    <ion-item>
      <div class='center-button'>
        <ion-button (click)="addUserToTask(actualTask)">Ajouter un utilisateur</ion-button>
     </div>
    </ion-item>
    <ion-item>
      <div class='center-button'>
        <ion-button (click)="addUnderTask(actualTask)">Ajouter une sous tâche</ion-button>
     </div>
    </ion-item>
  </div>
</ion-content>
<ion-content *ngIf="isAddingSomeone === true">
  <ion-list *ngFor="let user of this.Concerning">
    <ion-item>
      <ion-label>
        <h2>{{user.Email}}</h2>
      </ion-label>
      <ion-button *ngIf="isUserConcerned(user)" (click)="removeUserFromTask(user)" class="btn-danger">Retirer</ion-button>
      <ion-button *ngIf="!isUserConcerned(user)" (click)="addUserFromTask(user)" class="btn-success">Ajouter</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
</ion-content>
